---
layout: default
---

<div class="posts">

  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">...</a>
    </article>
  {% endfor %}

<!-- Pagination links -->
{% if paginator.previous_page or paginator.next_page %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Atrás</a>
  {% else %}
    <span class="previous">Atrás</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Siguiente</a>
  {% else %}
    <span class="next ">Siguiente</span>
  {% endif %}
</div>
{% endif %}

</div>

<div class="aside">
  <div class="aside-element">
    <h3>Últimos posts</h3>
    <p class="post-aside"><a href="{{ site.baseurl }}{{ paginator.posts[0].url }}">{{ paginator.posts[0].title }}</a></p>
    <p class="post-aside"><a href="{{ site.baseurl }}{{ paginator.posts[1].url }}">{{ paginator.posts[1].title }}</a></p>
    <p class="post-aside"><a href="{{ site.baseurl }}{{ paginator.posts[2].url }}">{{ paginator.posts[2].title }}</a></p>
  </div>
  <div class="aside-element">
    <a href="about/">
      <h3>{{ site.complete-name }}</h3>
      <img class="site-logo" src="{{ site.avatar }}" /><p>{{ site.about-info }}</p>
    </a>
  </div>
</div>
